:{$PORT} {
    header Access-Control-Allow-Origin "https://jovenes-tramites-facc.vercel.app"
    header Access-Control-Allow-Methods "POST, GET, OPTIONS, PUT, DELETE, PATCH"
    header Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
    header Access-Control-Allow-Credentials "true"

    @options method OPTIONS
    respond @options 204

    root * /app
    php_fastcgi 127.0.0.1:9000
    file_server
}